@model Sol_Partial_View.ViewModel.UserViewModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="row">
    <div class="col-12">
        <div class="form-group">
            <input id="txtMobileNo" type="number" asp-for="Users.UserCommunication.MobileNo" class="form-control" placeholder="Mobile No" />
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="form-group">
            <input id="txtEmailId" type="text" asp-for="Users.UserCommunication.EmailId" class="form-control" placeholder="Email Id" />
        </div>
    </div>
</div>