@model Sol_Partial_View.ViewModel.UserViewModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="row">
       <div class="col-12">
            <div class="form-group">
                <input id="txtFirstName" type="text" asp-for="Users.FirstName" class="form-control" placeholder="First Name"/>
            </div>
       </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="form-group">
            <input id="txtLastName" type="text" asp-for="Users.LastName" class="form-control" placeholder="Last Name" />
        </div>
    </div>
</div>
